body ,.container{
	background-color:#5894C2;
	color: black;
	font-family: 'EB Garamond', serif;
}
p{
	font-size: 2em;
	text-align: center;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
h1{
	text-align: center;
	font-size: 3em;
	color: black;
	text-decoration: underline;
}
.card{
border: 2px solid black;
}
.aboutme{
	background-color:#80B3DA;
}
.skills{
	background-color: #80B3DA;
}
.edu{
	background-color: #206396;
}
.projects{
	background-color: #3977A7;
}

.contact{
	background-color: #80B3DA;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

