.oth{
	width: 100%;
	max-height:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-direction: row;
}
.imges{
	height: auto;
	width: 400px;
	border: 3px solid black;
}
.name{
	text-align: center;
	font-size: 2em; 
	font-family:all;         
	width:400px;
	height: 176px;
 }
 .colcard{
 	display: flex;
 	flex-direction: column;
 }
.edu{
	width:611px;
	height:400px;
}
.skill{
	width: auto;
	height:260px; 
}
.project{
	width: 500px;
	height: 460px;
}
.contact{
	width: 500px;
	height: 200px;
}
.card,.cards{
	border: 2px solid black;
	box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 ); 
 	cursor: pointer;
 }
.card:hover{
	opacity: 0.6;
	transition: opacity 0.25s ease-in;
	cursor: pointer;
}
.mainimg{
	position: absolute;
	z-index: 0;
	filter: blur(2px);
}
.maintxt{
	position: absolute;
	z-index: 2;
	font-size: 5em;
	font-family: 'EB Garamond', serif;
	text-decoration-line: underline;
	}
.info{
	width: 73.9%;
    height: 94%;
    position: absolute;
    right: 0px;
}
.subcolcard{
	position: absolute;
	left: 0px;
}
.subcard{
	border: 2px solid black;
	box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 ); 
 	cursor: pointer;

}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow-5 {
    padding-bottom: 0px;
    background-color: #FFF2CF;
}
a.navbar-brand.EBG {
    font-size: 160%;
}
.othnav {
    position: absolute;
    right: 50px;
}
.enav{
display: flex;
flex-direction: row;
}
.EBG{
	font-family: 'EB Garamond', serif;
}
.sm{
	 border-radius: 5px;
	 font-size: 2em;
}
.sm3 {
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.sm3 div{
	padding: 10px;
}
.sm5 {
    text-align: center;
}
#disappear{
	display: flex;
    flex-direction: column;
    padding: 7% 0 0 0;
    display: none;
}
}